#contact{
	width: 60%;
	height:50px;
	border:2px dashed skyblue;
	margin:60px auto;
	margin-bottom:0;
	color:#fff;
	font-family:黑体;
	font-size:25px;
	text-align: center;
	line-height:50px;
}
.PQW{
	text-align:center;
	font-size:20px;
	color:#fff;
	margin-top:50px;
}